.page{
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
}
/*header */

.header{
   box-sizing: border-box;
   width: 1300px;
   margin: 0 auto;
   padding: 0 16px;
   min-height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(33, 59, 126, 1);
}
.site-menu {
    align-self: stretch;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;    
}

.site-menu > li {
    display: flex;
}

.menu-link {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 0 18px;
    background-color: #213b7e;
}

.menu-link:hover {
    color: #213b7e;
    background-color: #fff;
    text-decoration: none;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #ea5d21;
    text-decoration: none;
}

/* Login popup */
.login-popup {
    display: none;
    position: absolute;
    z-index: 2;
    left: 50;
    transform: translate(50%, 15%);
    box-sizing: border-box;
   
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 56px;
    background-color: white;
    border: 1px solid #213b7e;
    box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.25);
    width: 500px;
    height: 418px;
    left: 470px;
    top: 100px;
    
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));

}
.link-a {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    width: 153px;
    height: 50px;
    color: #000; /* Цвет текста */
    background: #EA6113;
}


.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.login-form > input {
    width: 100%;
    max-width: 444px;
    min-height: 55px;
    background: #FFFFFF;
    margin-bottom: 56px;
    border: 1px solid #808080;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #808080;
}

.popup-button {
    font-family: 'Roboto', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #EA6113;
    border: none;
}


/* Main */
.main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2vw;
    flex-grow: 1;
}


.class-photo {
    object-fit: cover;
    width: 100%;
    max-width: 523px;
    height: 316px;
}


.main-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
    
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}


.intro-text {
    width: 100%;
    max-width: 634px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto';
    color: #000000;
}

.intro-text > strong{
    font-weight: 700;
}

.intro-text > em {
    color: #cf5510;
    font-style: italic;

}

/* Students */
.students {
    display: flex;
    flex-wrap: italic;
}

.student > img {
    height: auto;
}

.student-name {
    display: block;
    text-align: center;
}

/*Footer*/
.footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(33, 59, 126, 1);
    left: calc(50% - 1300px/2);
    top: calc(50%-60px/2 + 510px);
    background: #213B7E;

}

.copywrite{
    color: rgba(255, 255, 255, 0.5);
}

.innop-link {
    color: rgba(255, 255, 255, 0.5);
}
.blockquote {
    position: absolute;
    width: 129px;
    height: 90px;
    left: 1150px;
    top: 542px;

    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;

    color: #646464;
    text-align: center;
}
/* Responsive */
@media (max-width: 630px) {
    .header {
        justify-content: center;
        padding: 1em 16px;
        gap: 1em;
    }
    .site-logo {
        width: 100%;
        min-height: 80px;
    }
    .site-menu {
        justify-content: center;
        left: 480px;
        
    
    }
}
.site-logo {
    width: 47px;
    height: 47px;
    left: 86px;
    background-color: #EA5D21;
    
}

.student-new {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: -13px;
    display: flex;
    padding: 2px 5px;
    border-radius: 20px;
    background-color: #3aa828;
    color: #fff;
    text-transform: 'Roboto';
    font-size: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.student img {
    object-position: bottom;
    object-fit: contain;
    min-height: 720px;
}

/* JS */
.active-link {
    color: #213b7e;
    background-color: #fff;
    text-decoration: none;
    background-color:  rgb(33, 59, 126, 1);;
}

.show-popup {
    display: block;
}


.row {
    margin: 8px -16px;
}
.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}
.flex {
    display: flex;
}
.st-photo {
    width: 200px;
    height: 270px;
    
    background: #86C6F4;
}


